form#update, form#create,
form#delete{
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.name {
  width: auto;
  display: block;
  margin: 0;
  text-align: center;
  font-size: 2em;
  height: 34px;
  margin: 0 auto;
}

.description {
  display: block;
  margin: 0;
  text-align: center;
  height: 24px;
  margin: 2px 0 2px 0;
  padding: 5px 0 5px 0;
}

.imageOptions {
  margin: 7px 0;
}

.container {
  width: 396px;
  height: 396px;
}

.imageUpload {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: darkgray;
}

.imageUpload img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

#file {
  position: absolute;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input.file, .uploadBtn {
  margin: 0 auto;
  position: absolute;
}

.deleteBtn {
  cursor: pointer;
  margin: 15px;
  padding: 10px;
  border: 1px solid #000;
  background: #F32013;
  color: #fff;
}


@media screen and (max-width: 600px) {
  .name {
    font-size: 1.7em;
  }

  .container {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 400px) {
  .name {
    font-size: 1.5em;
  }

  .container {
    width: 285px;
    height: 285px;
  }
}

@media screen and (max-width: 300px) {
  .name {
    font-size: 1.3em;
  }

  .container {
    width: 225px;
    height: 225px;
  }

  #file > input {
    width: 50%;
  }
}

@media screen and (max-width: 200px) {
  .name {
    font-size: 0.9em;
  }

  #date {
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
  }

  .container {
    width: 150px;
    height: 150px;
  }

  #file > input {
    width: 50%;
  }
}

/* @media screen and (max-width: 900px) {
  .name {
    font-size: 1.7em;
  }

  div#file > input.file {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .name {
    font-size: 1.5em;
  }

  div#file > input.file {
    width: 50%;
  }
}


@media screen and (max-width: 350px) {
  .name {
    width: auto;
    font-size: 1.2em;
  }

  div#file > input.file {
    width: 50%;
  }
}

@media screen and (max-width: 260px) {
  .name { 
    width: auto;
    font-size: 1em;
    margin: 0 auto;
  }

  .description {
    margin: 0 auto;
  }
  
  div#file > input.file {
    width: 50%;
  }
} */