#content {
  margin: 10px 0 0 0;
  text-align: center; 
}

h1 {
  display: inline-block;
  margin: 0
}

#event-name, #event-description, #event-date,
.edit-container, .signup-container,
.withdraw-container{
  margin: 5px 0 5px 0;
}

#update-btn {
  background: #0e84f1;
  color: #fff;
  padding: 8px;
  border: 0px;
  border-radius: 5px;
}

#signup-btn {
  background: #00B107;
  color: #fff;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

#withdraw-btn {
  background: #c7180b ;
  color: #fff;
  padding: 8px;
  border: 0px;
  border-radius: 5px;
}

.img-container {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 5px 0 0 0;
}

.img-container .image {
  position: relative;
  border: 2px solid #000;
  border-radius: 7px;
}

/* .img-container img {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 10px 0 0 0;
} */

form#edit {
  position: relative;
}

form#update {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form#upload {
   display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
}

.newName {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 2em;
  height: 34px;
  margin: 2px 0 2px 0;
}

.newDescription {
  display: block;
  margin: 0;
  text-align: center;
  height: 24px;
  margin: 2px 0 2px 0;
  padding: 5px 0 5px 0;
}

.imageUpload {
  position: relative;
  border: 1px solid black;
  width: 399px;
  height: 399px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageUpload img {
  width: 100%;
  height: 100%;
}

.overlay, img{
  position: absolute;
  width: 100%;
  height: 100%;
  background: darkgray;
  opacity: 0.6;
}

.image {
  opacity: 1;
}

input.file, .uploadBtn {
  margin: 0 auto;
  position: relative;
}

/* .imageUpload input.uploadBtn {
  position: absolute;
} */

input.updateBtn {
  display: block;
}

.deleteBtn {
  cursor: pointer;
  margin: 15px;
  padding: 10px;
  border: 1px solid #000;
  background: #F32013;
  color: #fff;
}