#content {
  margin: 10px 0 0 0;
  text-align: center; 
}

h1 {
  display: inline-block;
  margin: 0
}

#event-name, #event-description, #event-date,
.edit-container, .signup-container,
.withdraw-container{
  margin: 5px 0 5px 0;
}

#update-btn {
  background: #0e84f1;
  color: #fff;
  padding: 8px;
  border: 0px;
  border-radius: 5px;
  margin: 10px 0;
}

#signup-btn {
  background: #00B107;
  color: #fff;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

#withdraw-btn {
  background: #c7180b ;
  color: #fff;
  padding: 8px;
  border: 0px;
  border-radius: 5px;
}

.img-container {
  position: relative;
  display: inline-block;
  width: 396px;
  height: 396px;
  margin: 9px 0 5px 0;
}

.img-container .image {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  #event-name, #event-description, #event-date {
    font-size: auto;
  }

  .img-container {
    width: 350px;
    height: 350px;
  }
}


@media screen and (max-width: 400px) {
  #event-name, #event-description, #event-date {
    font-size: auto;
  }

  .img-container {
    width: 285px;
    height: 285px;
  }
}


@media screen and (max-width: 300px) {
  #event-name, #event-description, #event-date {
    font-size: auto;
  }

  .img-container {
    width: 225px;
    height: 225px;
  }
}

@media screen and (max-width: 200px) {
  #event-name, #event-description, #event-date {
    font-size: auto;
  }
  
  .img-container {
    width: 150px;
    height: 150px;
  }
}

form#edit {
  position: relative;
}

form#update {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form#upload {
   display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
}