#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#form > input#username, input#password {
  padding: 8px 10px;
  border: 1px solid #000;
}

#username, #password {
  width: auto;
  padding: 4px 2px;
  margin: 10px 0;
  border: 1px black solid;
}

form, input#button {
  width: 100px;
  height: 100%;
  padding: 6px 0px;
}