#grid-container {
  display: grid;
  text-align: center;
  justify-content: center;
}

#grid-container > h2 {
  margin: 12px 0;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  width: 100%;
}

.grid-item {
  margin: 7px;
  width: 100%;
  height: 100%;
}

.grid-item:hover {
  opacity: 0.9;
}

.image {
  width: 220px;
  height: 220px;
  margin: 0px 0px 15px 0px;
}

.image img {
  width: 100%;
  border-radius: 9px;
}