* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0;
}

.link {
  font-weight: 600; 
  text-decoration: underline;
}

#content {
  margin: 15px 0;
  align-content: center;
  width: 100%;
  height: auto;
}

#error {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#error > h1 {
  font-size: 65px;
  color: #FF0000;
  margin: 8px 0;
}

#error > h2 {
  font-size: 30px;
  margin: 8px 0;
}

.btn {
  color: inherit;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.85;
  cursor: pointer;
}

#update-btn {
  background: #0e84f1;
  margin: 10px 0;
}

#deleteBtn {
  margin: 7px;
  padding: 10px;
  background: #F32013;
}

#signup-btn {
  background: #00B107;
}

#withdraw-btn {
  background: #c7180b ;
}