<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatile" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= header01 %></h1>
  <a href="/"><p><%= text01 %></p></a>
  <%- include ('includes/loginForm') -%>
</body>
</html>