<div id="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/contact">Contact</a></li>
    <% try { if (userPrivilege == "Admin") { %>
      <li><a href="/create">Create Event</a></li>
    <% }} catch (e) {} %>
    <li><a href="/myEvents">My Events</a></li>

    <li style="float: right;">
      <% if (username == 'none') { %>
        <a href="/login">Login</a>
      <% } else { %>
        <a href="/logout">Logout</a>
      <% } %>
      </li>
  </ul>
</div>