form {
  display: flex;
  flex-direction: column;
}

#username, #password {
  width: 260px;
  padding: 4px 2px;
  margin: 10px 0;
}

form, input#loginBtn {
  width: 100px;
  height: 100%;
  padding: 6px 0px;
}