<form action="/contact" id="contact-form" method="post" role="form">
  <input type="text" name="subject" placeholder="Subject">
  <input id="name" name="name" type="text" placeholder="Your name" required>
  <input id="email" name="email" type="text" placeholder="Your email" required>
  <textarea id="message" name="message" placeholder="Enter your message here" rows="3" required></textarea>
  <input type="submit" class="btn" value="Contact">
</form>