<div id="content">
  <h1>
    <%= header %>
  </h1>
  <form action="/login" method="POST" id="form">
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <input type="submit" value="Login" id="button" class="btn">
  </form>
  <a href="/register" class="link">Register</a>
</div>